/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* RESET */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* STICKY FOOTER */
html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* COMMON STYLES */
:root {
  --swiper-navigation-color: #8a2be2;
  --swiper-navigation-sides-offset: 0px;
}
@media (max-width: 768px) {
  :root {
    --swiper-navigation-size: 36px;
  }
}

body {
  font-family: Ruda, sans-serif;
  font-size: 18px;
  line-height: 1.22;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.section-title-no-swiper {
  margin-bottom: 51px;
}

/* COMPONENTS */
/* icon */
.icon {
  line-height: 0;
}
.icon__svg {
  width: 24px;
  height: 24px;
  fill: #000;
}
.icon__svg_stroke {
  fill: none;
  stroke: #000;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.icon:hover {
  color: #8a2be2;
}
.icon:hover .icon__path {
  fill: #8a2be2;
}
.icon:hover .icon__svg_stroke .icon__path {
  stroke: #8a2be2;
  fill: none;
}

/* socials */
.socials__text {
  margin: 5px 0 15px;
}
.socials__list {
  display: flex;
  gap: 15px;
}
.socials__item {
  font-size: 0;
}

/* add to favorite icon */
.add-to-fav-icon {
  width: 24px;
  height: 22px;
  position: absolute;
  top: 9px;
  right: 9px;
}
.add-to-fav-icon:hover .add-to-fav-icon-path {
  stroke: #8a2be2;
}
.add-to-fav-path {
  stroke: #8b8c8d;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  pointer-events: none;
}

.added {
  stroke: #8a2be2;
  fill: #8a2be2;
}

/* section */
.section {
  margin-top: 72px;
}
.section-title, .section-title_left, .section-title_arrows {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
}
.section-title_arrows {
  padding: 0 36px;
}
.section-title_left {
  text-align: left;
}

/* swiper */
.swiper-button-next, .swiper-button-prev {
  margin-top: 0;
  position: static;
}
.swiper-button-next {
  justify-content: right;
}
.swiper-button-prev {
  justify-content: left;
}
.swiper-title {
  user-select: none;
}

.title-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 51px;
}

/* card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
  text-align: center;
  max-width: 255px;
  height: 100%;
  user-select: none;
}
.card__img {
  display: block;
  outline: 1px solid #8b8c8d;
  outline-offset: -1px;
}
.card__name {
  color: #141416;
  padding: 30px 0 10px;
  flex: 1;
}
.card__price {
  color: #141416;
  font-size: 22px;
  font-weight: 900;
  position: relative;
}

/* buy button */
.buy-btn {
  width: 120px;
  height: 36px;
  font-family: Oswald, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #141416;
  background-color: #141416;
  color: #fff;
  cursor: pointer;
  margin-top: 15px;
}
.buy-btn:hover {
  background-color: unset;
  color: #141416;
}

/* discount label */
.discount-lbl {
  width: 90px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Oswald, sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #141416;
  position: absolute;
  top: 0;
  left: 0;
}

/* structure path */
.structure-path {
  font-family: Oswald, sans-serif;
  font-size: 10px;
  color: #8b8c8d;
  margin: 40px 0 25px 0;
}

/* expand-arrow */
.expand-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 6px solid;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  transition: transform 0.1s;
}
.expand-arrow_dark {
  border-top-color: #141416;
}
.expand-arrow_light {
  border-top-color: #8b8c8d;
}
.expand-arrow_rotated {
  transform: rotate(-180deg);
}

/* MAIN */
.main {
  border-top: 1px solid #000;
}
.main__no-top {
  border-top: unset;
}

/* HEADER */
.header {
  margin-top: 12px;
}
.header__top-section {
  padding-bottom: 2px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header__bottom-section {
  border-top: 1px solid #000;
  padding-top: 15px;
}
.header__icons {
  display: flex;
  gap: 19px;
  padding-top: 3px;
}
.header__icons-item {
  font-size: 0;
}
.header__inner_bottom {
  font-family: Oswald, sans-serif;
}

.menu-btn {
  position: relative;
  display: none;
  width: 30px;
  height: 22px;
  cursor: pointer;
}
.menu-btn__line {
  width: 100%;
  height: 2px;
  background-color: #000;
}
.menu-btn::before, .menu-btn::after {
  display: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  left: 50%;
  top: 50%;
}
.menu-btn::before {
  transform: translate(-50%, -50%) rotate(40deg);
}
.menu-btn::after {
  transform: translate(-50%, -50%) rotate(-40deg);
}
.menu-btn:hover > .menu-btn__line, .menu-btn:hover::before, .menu-btn:hover::after {
  background-color: #8a2be2;
}
.menu-btn_open > .menu-btn__line {
  display: none;
}
.menu-btn_open::before, .menu-btn_open::after {
  display: block;
}

.menu {
  z-index: 15;
}
.menu__list {
  display: flex;
  gap: 30px;
  padding-top: 4px;
}
.menu__list-item {
  position: relative;
  padding-bottom: 27px;
}
.menu__list-item_hover {
  cursor: pointer;
}
.menu__list-item_hover:hover > .menu__list-lvl-2 {
  display: block;
}
.menu__list-item:hover .menu__list-link {
  color: #8a2be2;
}
.menu__list-item-lvl-2 {
  padding-bottom: 15px;
}
.menu__list-lvl-2 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  width: max-content;
  padding: 7px 20px 3px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu__list-lvl-2_open {
  display: block;
}
.menu__list-link-lvl-2:hover {
  color: #8a2be2;
}
.menu__list-link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__mobile-arrow {
  display: none;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #000;
}
.menu__mobile-arrow_open {
  transform: rotate(90deg);
}

.menu-extra {
  display: none;
}
.menu-extra__indented {
  padding-bottom: 0;
  margin: 5px 0 23px;
}
.menu-extra__sections-link:hover {
  color: #8a2be2;
}
.menu-extra__hrefs-item {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}
.menu-extra__hrefs-item:hover .menu-extra__hrefs-text {
  color: #8a2be2;
}
.menu-extra__hrefs-item:hover .icon__path {
  fill: #8a2be2;
}
.menu-extra__hrefs-item:hover .icon__svg_stroke .icon__path {
  stroke: #8a2be2;
  fill: none;
}
.menu-extra__hrefs-text {
  padding-left: 12px;
}
.menu-extra > * {
  border-top: 1px solid #000;
  padding-top: 14px;
}

/* BANNER */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: no-repeat center/cover;
}
.banner_top {
  height: 547px;
  background-image: url(../img/banner_1.webp);
}
.banner_bottom {
  height: 661px;
  background-image: url(../img/banner_2.webp);
}

.head {
  text-align: center;
  padding: 34px 15px;
}
.head_top {
  width: 738px;
  background: linear-gradient(#e4e4e480, #e4e4e412);
}
.head_bottom {
  width: 898px;
  background: linear-gradient(110deg, #e4e4e412 5%, #e4e4e480 30%, #e4e4e412 50%);
}
.head__logo {
  font-family: Allura, cursive;
  font-size: 80px;
  display: inline-block;
}
.head__text {
  font-family: Oswald, sans-serif;
  font-size: 48px;
  line-height: 27px;
}
.head__href {
  display: block;
  width: max-content;
  margin: 36px auto 0;
  font-family: Oswald, sans-serif;
  font-size: 22px;
  padding-bottom: 6px;
  border-bottom: 1px solid transparent;
}
.head__href:hover {
  border-bottom-color: #8a2be2;
}
.head__href-svg {
  width: 27px;
  height: 13px;
  position: relative;
  left: 1px;
}

/* BANNER MINI */
.banner-mini {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.banner-mini__item {
  width: 100%;
  height: 365px;
  background: no-repeat center/cover;
  text-align: right;
}
.banner-mini__item-1 {
  background-image: url(../img/banner-mini_img1.webp);
}
.banner-mini__item-2 {
  background-image: url(../img/banner-mini_img2.webp);
}
.banner-mini__wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 38px;
  font-family: Oswald, sans-serif;
  font-size: 16px;
}
.banner-mini__head {
  display: inline-block;
  padding: 12px;
  background-color: #e4e4e4;
  color: #141416;
}

/* FOOTER */
.footer {
  font-size: 16px;
  border-top: 1px solid #000;
  padding-top: 60px;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
}
.footer__menu-title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.footer__menu-link:hover {
  text-decoration: underline;
}
.footer__menu-item-lvl-2 {
  margin-top: 15px;
}
.footer__flexible-item {
  flex-basis: min-content;
}
.footer__subscribe-text {
  display: block;
}
.footer__subscribe-wrapper {
  display: flex;
  margin-top: 15px;
  height: 44px;
}
.footer__subscribe-input {
  width: 324px;
  background-color: #e4e4e4;
  border: none;
  padding: 0 10px;
  vertical-align: bottom;
  font-family: Ruda, sans-serif;
  font-size: 16px;
}
.footer__subscribe-input::placeholder {
  font-family: Oswald, sans-serif;
  font-size: 12px;
  color: #141416;
}
.footer__subscribe-btn {
  width: 120px;
  border: none;
  background-color: #141416;
  cursor: pointer;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 16px;
}
.footer__socials {
  margin-top: 30px;
}
.footer__copyright {
  font-size: 12px;
  text-align: center;
  border-top: 1px solid #000;
  margin-top: 30px;
  padding: 14px 0;
}

/* GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}
.gallery__filters {
  grid-column: 1;
  grid-row: 2/4;
}
.gallery__head {
  grid-column: 2/5;
  padding-bottom: 45px;
}
.gallery__goods {
  grid-column: span 3;
  display: grid;
  grid-template-columns: subgrid;
  row-gap: 60px;
}
.gallery__filter {
  font-family: Oswald, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #141416;
}
.gallery__price-inputs {
  display: flex;
  justify-content: space-between;
  color: #8b8c8d;
}
.gallery__price-input input {
  font-family: Oswald, sans-serif;
  font-size: 16px;
  font-family: Oswald, sans-serif;
  width: 65px;
  height: 36px;
  border: 1px solid #8b8c8d;
  vertical-align: text-bottom;
  -moz-appearance: textfield;
}
.gallery__price-input input::-webkit-inner-spin-button, .gallery__price-input input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.gallery__price-range {
  position: relative;
  height: 27px;
}
.gallery__price-range-fill {
  height: 4px;
  background: #8a2be2;
  position: absolute;
  top: 12px;
  width: 100%;
  z-index: 10;
  pointer-events: none;
}
.gallery__price-range-slider {
  margin: 0;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  position: absolute;
  left: 0;
  top: 5px;
  cursor: pointer;
}
.gallery__price-range-slider_top {
  z-index: 5;
}
.gallery__price-range-slider::-webkit-slider-runnable-track {
  height: 4px;
  margin-top: 7px;
  background-color: #e4e4e4;
}
.gallery__price-range-slider::-moz-range-track {
  height: 4px;
  background-color: #e4e4e4;
}
.gallery__price-range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4px;
  height: 20px;
  background-color: #8a2be2;
  margin-top: -8px;
  position: relative;
  z-index: 15;
}
.gallery__price-range-slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4px;
  height: 20px;
  background-color: #8a2be2;
  border: none;
  border-radius: 0;
  position: relative;
  z-index: 15;
}
.gallery__price-range-values {
  display: flex;
  justify-content: space-between;
}
.gallery__filters-sort {
  grid-column: span 3;
  font-family: Oswald, sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 30px;
  grid-auto-rows: minmax(35px, auto);
  padding-bottom: 4px;
}
.gallery__filter-on {
  color: #8b8c8d;
  display: inline-flex;
  align-items: baseline;
  gap: 5px;
  margin-right: 8px;
}
.gallery__remove-filter {
  cursor: pointer;
  position: relative;
  width: 10px;
  height: 10px;
}
.gallery__remove-filter::before, .gallery__remove-filter::after {
  content: "";
  position: absolute;
  top: 0;
  height: 11px;
  width: 1px;
  background-color: #8b8c8d;
  left: 50%;
}
.gallery__remove-filter::before {
  transform: rotate(45deg);
}
.gallery__remove-filter::after {
  transform: rotate(-45deg);
}
.gallery__sort {
  color: #141416;
  grid-column: -2;
  display: flex;
  gap: 15px;
}
.gallery__sort-value {
  position: relative;
  cursor: pointer;
  user-select: none;
}
.gallery__sort-value-list {
  display: none;
  position: absolute;
  top: 20px;
  left: 9px;
  padding: 20px;
  width: max-content;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  z-index: 5;
}
.gallery__sort-value-list_open {
  display: block;
}
.gallery__sort-value-item {
  cursor: pointer;
}
.gallery__sort-value-item + .gallery__sort-value-item {
  margin-top: 15px;
}
.gallery__sort-value-item_selected {
  font-weight: 700;
}
.gallery__sort-arrow {
  margin: 0 0 1px 5px;
}

/* MEDIA QUERIES */
@media (max-width: 992px) {
  /* header */
  .menu__list {
    gap: 26px;
  }
  .menu__list-item {
    font-size: 17px;
  }
  /* footer */
  .footer__subscribe-input {
    width: 288px;
  }
}
@media (max-width: 922px) {
  /* header */
  .header {
    margin-top: 8px;
  }
  .header__bottom-section {
    padding-top: 10px;
  }
  .header__icons {
    padding-top: 7px;
  }
  .menu__list {
    gap: 24px;
  }
  .menu__list-item {
    font-size: 16px;
  }
  .menu__list-item-lvl-2 {
    padding-bottom: 13px;
  }
  .menu__list-lvl-2 {
    padding: 5px 14px 3px;
  }
  /* icon */
  .icon__svg {
    width: 22px;
    height: 22px;
  }
  /* footer */
  .footer__subscribe-input {
    width: 255px;
  }
}
@media (max-width: 880px) {
  /* header */
  .header__top-section {
    padding-bottom: 8px;
  }
  .header__bottom-section {
    display: none;
  }
  .header__bottom-section_visible {
    display: block;
  }
  .header__icons {
    padding-top: 9px;
  }
  .mobile-hidden {
    display: none;
  }
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    min-height: calc(100vh - 61px);
    padding: 0 10px 20px;
    box-shadow: 0 3px 3px #8a2be24d;
  }
  .menu__list {
    display: block;
  }
  .menu__list-item {
    font-size: 18px;
    margin: 5px 0 23px;
    padding-bottom: 0px;
  }
  .menu__list-lvl-2 {
    position: static;
    padding-top: 18px;
  }
  .menu__list-link-wrapper {
    cursor: pointer;
  }
  .menu__list-link-wrapper:hover .menu__list-link {
    color: #8a2be2;
  }
  .menu__list-link-wrapper:hover .menu__mobile-arrow {
    border-left-color: #8a2be2;
  }
  .menu__mobile-arrow {
    display: block;
  }
  .menu-extra {
    display: block;
  }
  .menu-btn {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 7px;
  }
  /* footer */
  .footer {
    padding-top: 50px;
  }
  .footer__menu {
    text-align: center;
    flex-direction: column;
    gap: 30px;
  }
  .footer__subscribe-wrapper {
    justify-content: center;
  }
  .footer__subscribe-input {
    width: 324px;
  }
  .footer__socials-list {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  /* banner */
  .banner {
    height: 480px;
  }
  .head {
    width: 90%;
  }
  .head__logo {
    line-height: 0;
  }
  .head__text {
    line-height: unset;
  }
}
@media (max-width: 700px) {
  /* banner-mini */
  .banner-mini {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  /* global */
  .section {
    margin-top: 52px;
  }
  .section-title-no-swiper {
    margin-bottom: 40px;
  }
  /* swiper */
  .swiper-title {
    width: 255px;
  }
  .title-buttons-wrapper {
    margin-bottom: 40px;
  }
  /* footer */
  .footer {
    padding-top: 40px;
  }
  .footer__menu-title {
    font-size: 20px;
    margin-bottom: 14px;
  }
  .footer__menu-item-lvl-2 {
    font-size: 14px;
    margin-top: 10px;
  }
  .footer__subscribe-wrapper {
    height: 40px;
  }
  .footer__subscribe-btn, .footer__subscribe-input {
    font-size: 14px;
  }
  .footer__subscribe-input {
    width: 255px;
  }
}
@media (max-width: 500px) {
  /* banner */
  .head__logo {
    font-size: 76px;
  }
  .head__text {
    font-size: 44px;
  }
}
@media (max-width: 420px) {
  /* banner */
  .banner {
    height: 430px;
  }
  .head {
    width: 100%;
  }
  .head__logo {
    font-size: 72px;
  }
  .head__text {
    font-size: 40px;
  }
  /* swiper */
  .section-title, .section-title_arrows, .section-title_left {
    font-size: 20px;
  }
  .swiper-slide__price {
    font-size: 20px;
  }
  .swiper-slide__name {
    padding: 28px 0 10px;
  }
}
@media (max-width: 360px) {
  /* global */
  .section {
    margin-top: 46px;
  }
  .section-title-no-swiper {
    margin-bottom: 34px;
  }
  /* banner */
  .banner {
    height: 400px;
  }
  .head__logo {
    font-size: 68px;
  }
  .head__text {
    font-size: 36px;
  }
  .head__href {
    font-size: 20px;
  }
  /* swiper */
  .section-title, .section-title_arrows, .section-title_left {
    font-size: 18px;
  }
  .title-buttons-wrapper {
    margin-bottom: 34px;
  }
  .swiper-slide__name {
    font-size: 16px;
  }
  .swiper-slide__price {
    font-size: 18px;
  }
}