@use "./typography/" as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-gap($gap) {
  display: flex;
  gap: #{$gap}px;
}

@mixin icon-hovers {
  .icon__path {
    fill: $hover;
  }

  .icon__svg_stroke .icon__path {
    stroke: $hover;
    fill: none;
  }
}

@mixin expand-arrow($color) {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  @if $color == dark {
    border-top: 6px solid $darkgray;
  } @else if $color == light {
    border-top: 6px solid $gray;
  }
}

@mixin border-top {
  border-top: 1px solid $black;
}
