@use "./typography/" as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-gap($gap) {
  display: flex;
  gap: #{$gap}px;
}

@mixin icon-hovers {
  .icon__path {
    fill: $hover;
  }

  .icon__svg_stroke .icon__path {
    stroke: $hover;
    fill: none;
  }
}

@mixin border-top {
  border-top: 1px solid $black;
}
